page{
  background: rgb(251, 251, 251);
}
scroll-view{
  padding: 40rpx 40rpx;
}
.lyt-content{
  background-color: #FBFBFB;
}
.lyt-list{
  padding-bottom: 32rpx;
  margin-bottom: 40rpx;
  border-radius: 8rpx;
  box-shadow: 0 0 12rpx 0 rgba(0,0,0,0.06);
  background: #fff;
}
.lyt-list>view{
  height: 70rpx;
  padding: 30rpx 32rpx 0 32rpx;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  letter-spacing: -0.09rpx;
  font-size: 28rpx;
  color: #333333;
}
.user{
  height: 92rpx;
  border-bottom: 2rpx solid #E6E6E6;
}
.user>view{
  position: relative;
  top: -15rpx;
  letter-spacing: -0.1px;
  font-size: 32rpx;
  color: #333333;
}
.status-success{
  color:#55BA91;
}
.status-fail{
  color: #9B9B9B;
}
.status-refund{
  color: #F5222D;
}
/* 无记录 */
.empty{
  width: 100%;
  height: 300rpx;
  padding-top: 200rpx;
}
.empty>view{
  width: 16%;
  height: 120rpx;
  margin: 0 auto;
  line-height: 120rpx;
  text-align: center;
}
.enptyIcon{
  line-height: 100rpx;
  background-color: gray;
}